StepFunction/LamdbaIntegration.asl.json
{"Comment":"Age of a cat in human year","StartAt":"Getting Started","States":{"Getting Started":{"Type":"Pass","Next":"Lambda Invoke"},"Lambda Invoke":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$","FunctionName":"arn:aws:lambda:us-east-1:952389988652:function:lambda-function-for-step-functi-HelloWorldFunction-arsnUrJJfDjF:$LATEST"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2,"JitterStrategy":"FULL"}],"TimeoutSeconds":10,"Next":"Cat Age"},"Cat Age":{"Type":"Pass","End":true}},"QueryLanguage":"JSONPath"}