EdgeMordanization/serverless.yml
org: soumya1998
app: serverless-app-main
service: EdgeMordanization

provider:
  name: aws
  runtime: python3.12
  timeout: 10
  memorySize: 128
  region: ap-south-1
  stage: dev
  environment:
    USERS_TABLE: ${self:service}-users-${self:provider.stage}
    INCIDENT_TABLE: ${self:service}-inc-tickets-${self:provider.stage}
    SERVICE_TABLE: ${self:service}-sr-tickets-${self:provider.stage}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:GetItem
            - dynamodb:PutItem
          Resource:
            - "arn:aws:dynamodb:${self:provider.region}:${aws:accountId}:table/${self:provider.environment.USERS_TABLE}"
            - "arn:aws:dynamodb:${self:provider.region}:${aws:accountId}:table/${self:provider.environment.INCIDENT_TABLE}"
            - "arn:aws:dynamodb:${self:provider.region}:${aws:accountId}:table/${self:provider.environment.SERVICE_TABLE}"
        - Effect: Allow
          Action:
            - states:StartExecution
            - states:StartSyncExecution
            - states:DescribeExecution
          Resource:
            - "arn:aws:states:${self:provider.region}:${aws:accountId}:stateMachine:TicketManagementFlow-${self:provider.stage}"

plugins:
  - serverless-step-functions
  - serverless-offline

functions:
  checkUser:
    handler: handler.check_user
  processTicket:
    handler: handler.process_ticket
  getResponse:
    handler: handler.get_response
    events:
      - http:
          path: response
          method: post

stepFunctions:
  stateMachines:
    TicketFlow:
      type: EXPRESS
      loggingConfig:
        level: ALL
        includeExecutionData: true
        destinations:
          - Fn::GetAtt: [TicketFlowLogGroupCloudWatch, Arn]
      events:
        - http:
            path: tickets
            method: post
            action: StartExecution
            request: 
              template:
                application/json: |
                  #set( $body = $util.escapeJavaScript($input.json('$')) )
                  {
                    "input": "$body",
                    "stateMachineArn": "arn:aws:states:${self:provider.region}:${aws:accountId}:stateMachine:TicketManagementFlow-${self:provider.stage}"
                  }
        - http:
            path: tickets/response
            method: post
            action: StartSyncExecution
            
            # --- THIS SECTION WAS MISSING ---
            request: 
              template:
                application/json: |
                  #set( $body = $util.escapeJavaScript($input.json('$')) )
                  {
                    "input": "$body",
                    "stateMachineArn": "arn:aws:states:${self:provider.region}:${aws:accountId}:stateMachine:TicketManagementFlow-${self:provider.stage}"
                  }
            # --------------------------------
            
            response:
              headers:
                Content-Type: "'application/json'"
              template:
                application/json: |
                  #set($root = $input.path('$'))
                  
                  #if($root.status == 'SUCCEEDED')
                    #if($root.output)
                      $root.output
                    #else
                      {}
                    #end
                  #else
                    #set($context.responseOverride.status = 500)
                    {
                      "error": "$root.error",
                      "cause": "$root.cause",
                      "status": "$root.status"
                    }
                  #end
      name: TicketManagementFlow-${self:provider.stage}
      definition:
        StartAt: CheckUserAvailability
        States:
          CheckUserAvailability:
            Type: Task
            Resource:
              Fn::GetAtt: [CheckUserLambdaFunction, Arn]
            Next: IsUserAvailable
          
          IsUserAvailable:
            Type: Choice
            Choices:
              - Variable: "$.userFound"
                BooleanEquals: true
                Next: ProcessTicket
            Default: UserNotFound

          ProcessTicket:
            Type: Task
            Resource:
              Fn::GetAtt: [ProcessTicketLambdaFunction, Arn]
            End: true

          UserNotFound:
            Type: Fail
            Error: "UserDoesNotExist"
            Cause: "The provided user ID was not found in the database."

resources:
  Resources:
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.USERS_TABLE}
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
    
    IncidentTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.INCIDENT_TABLE}
        AttributeDefinitions:
          - AttributeName: ticketId
            AttributeType: S
        KeySchema:
          - AttributeName: ticketId
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

    StandardTicketsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.SERVICE_TABLE}
        AttributeDefinitions:
          - AttributeName: ticketId
            AttributeType: S
        KeySchema:
          - AttributeName: ticketId
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

    TicketFlowLogGroupCloudWatch:
      Type: AWS::Logs::LogGroup
      Properties:
        LogGroupName: /aws/vendedlogs/states/TicketFlowLogGroupMain-${self:provider.stage}
        RetentionInDays: 14